@media (max-width:1000px) {
    .package{
        width: 50%;
        height: 500px;
    }

    .package p{
        padding: 30px 30px;
        font-size: 20px;
    }

    .package h2{
        padding-top: 10px;
        font-size: 25px;
    }

    .pack{
        text-align: center;
    }

    .pack img{
        width: 400px;
        height: 280px;
    }

    .promote{
        font-size: 20px;
        text-align: center;
    }


}


@media (max-width:670px){ 
    .gambar h1{
        font-size: 45px;
    }
    .package{
        width: 100%;
        height: 600px;
    }

    .package p{
        padding: 30px 30px;
    }

    .pack{
        text-align: center;
    }

    .pack img{
        width: 400px;
        height: 280px;
    }

    .promote{
        font-size: 20px;
        text-align: center;
    }

}

