*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: rgba(3, 63, 99, 0.7);
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
    color: white;
    
    /*to make the header fixed tpi full page*/
    position: fixed;
    width: 100%;
    margin: auto;
}

.logo{
    padding: 5px;
    letter-spacing: 10px;
}

.list{
    display: flex;
    flex-direction: row;
}

.list p{
    padding: 20px 20px 20px 20px;
}

#tulisan001:hover{
    text-decoration: underline;
    cursor: pointer;
    color:thistle;
}

#tulisan002:hover{
    text-decoration: underline;
    cursor: pointer;
    color:thistle;
}

#tulisan003:hover{
    text-decoration: underline;
    cursor: pointer;
    color:thistle;
}

.main{
    width: 100%;
    background-image: url("assets/Bali.jpg");
    height: 500px;
    background-size: cover;
    text-align: center;
}

.main:hover{
    background-image: url("assets/Balii.jpg");
    transition: 1.5s;
}

.gambar h1{
    text-align: center;
    color:black;
    padding-top: 180px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    font-size: 50px;
}

.booking{
    padding: 15px 40px;
    padding:15px 20px;
    justify-content: center;
    display: inline-block;
    background-color: yellowgreen;
    box-shadow: 0 8px #1a7940;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.booking:active {
  position: relative;
  top: 8px;
  box-shadow: none;
  cursor: pointer;
}

.pack img{
    width: 300px;
    height: 200px;
}

.packages{
    padding: 80px 10px;
}

.package{
    width: 25%;
    float: left;
    height: 400px;
}

.package h2, .package p{
    text-align: center;
}

.package p{
    font-family: sans-serif;
    padding: 10px 15px;
}


.pack img:hover{
    filter: sepia(1);
    cursor: pointer;
}

.footer {
    background-color: rgba(3, 63, 99, 0.7);
    padding: 30px 30px;
    display: flex;
    color: white;
    justify-content: space-between;
}

.logo1 h1 {
    letter-spacing: 10px;
}

.logo1 p {
    font-style: italic;
}

.fa {
    padding: 20px;
    font-size: 10px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

form {
    text-align: center;
}

form p {
    font-size: 20px;
    line-height: 5px;
}

.subscribe:hover {
    cursor: pointer;
    opacity: 0.6;
}

.subscribe {
    background-color: yellowgreen;
    border-radius: 6px;
    padding: 5px;
    margin-top: 20px;
}

.input {
    padding: 5px;
    border-radius: 6px;
    margin-top: 20px;
}

.promote{
    text-align: center;
    font-size: 20px;
}


/* Smartphone */
/* @media (max-width:670px){ 
    .gambar h1{
        font-size: 45px;
    }
    .package{
        width: 100%;
        height: 600px;
    }

    .package p{
        padding: 30px 30px;
    }

    .pack{
        text-align: center;
    }

    .pack img{
        width: 400px;
        height: 280px;
    }

    .promote{
        font-size: 20px;
        text-align: center;
    }

} */

/* Tablets */
/* @media (max-width:1000px) {
    .package{
        width: 50%;
        height: 500px;
    }

    .package p{
        padding: 30px 30px;
        font-size: 20px;
    }

    .package h2{
        padding-top: 10px;
        font-size: 25px;
    }

    .pack{
        text-align: center;
    }

    .pack img{
        width: 400px;
        height: 280px;
    }

    .promote{
        font-size: 20px;
        text-align: center;
    }


} */